<div>
    <h1>Log In</h1>
    <form action="/api/users/login" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Ingresa tu email">
        <div>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
        </div>
        <div>
            <button type="submit">Iniciar sesion</button>
        </div>
    </form>
</div>